<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout_project}">

<th:block layout:fragment="content">
<!--/* 검색 영역 */-->
    <div class="input-group" id="adv-search">    	
		<form id="searchForm" onsubmit="return false;">
		<div class="hstack gap-3"><!-- https://getbootstrap.com/docs/5.1/helpers/stacks/#horizontal -->
		<div>
			<select id="searchType" class="form-control" style="width: 100px;">
				<option value="">전체</option>
				<option value="title">제목</option>
				<option value="content">내용</option>
				<option value="writer">작성자</option>
			</select>
		</div>
		<div>
        	<input type="text" id="keyword" class="form-control" placeholder="키워드를 입력해 주세요." style="width: 300px;" />
        </div>
		</div>
        </form>
        
		<button type="button"  onclick="findAll(1);" class="btn btn-primary">
		<i class="bi bi-search"><i class="fa-solid fa-magnifying-glass"></i></i>
            <span class="glyphicon glyphicon-search"></span>
        </button>
	</div>
	
<!-- 게시글 리스트 부분 -->
	<table class="table table-hover">
		<thead>
			<tr><td>id</td><td>제목</td><td>작성자</td><td>공개/비공개</td><td>작성일</td><td>조회수</td></tr>
		</thead>
		<!--/* 게시글 리스트 Rendering 영역 */-->
        <tbody id="list">

        </tbody>
        
	</table>
        
    <div class="d-flex justify-content-end">
            <a th:href=@{/project/write} class="btn btn-primary waves-effect waves-light">Write</a>
    </div>
    
    <!-- 페이지네이션 Rendering 영역 -->
		<nav aria-label="Page navigation example" class="text-center">
    		<ul class="pagination justify-content-center">
    		
    		</ul>
		</nav>
		
</th:block>

<th:block layout:fragment="scripts">
<!-- js 부분 -->
<script th:inline="javascript">
    /*<![CDATA[*/
    	
    /**
	 * 페이지 로딩 시점에 실행되는 함수
	 */
	window.onload = () => {

		findAll(1);
		addEnterSearchEvent();
	}

	/**
	 * 게시글 조회
	 */
	function goView(id) {
		location.href = `/project/view/${id}`;
	}
	
	/**
	 * 키워드 - 엔터 검색 이벤트 바인딩
	 */
	function addEnterSearchEvent() {

		document.getElementById('keyword').addEventListener('keyup', (e) => {
			if (e.keyCode === 13) {
				findAll(1);
			}
		});
	}

	/**
	 * 조회 API 호출
	 */
	async function getJson(uri, params) {

		if (params) {
			uri = uri + '?' + new URLSearchParams(params).toString();
		}

		const response = await fetch(uri);

		if (!response.ok) {
			await response.json().then(error => {
				throw error;
			});
		}

		return await response.json();
	}

	/**
	 * 게시글 리스트 조회
	 */
	function findAll(page) {

		const form = document.getElementById('searchForm');
		const params = {
			  page: page
			, recordPerPage: 10
			, pageSize: 3
			, searchType: form.searchType.value
			, keyword: form.keyword.value
		}

		getJson('/api/boards', params).then(response => {
			if (!Object.keys(response).length) {
				document.getElementById('list').innerHTML = '<td colspan="5">등록된 게시글이 없습니다.</td>';
				drawPages();
				return false;
			}

			let html = '';
			let num = response.params.pagination.totalRecordCount - ((response.params.page - 1) * response.params.recordPerPage);

       		response.list.forEach((obj, idx) => {
       			html += `
       				<tr>
  						<td>${num--}</td>
  						<td class="text-left">
  							<a href="javascript: void(0);" onclick="goView(${obj.id})">${obj.title}</a>
  						</td>
  						<td>${ obj.writer }</td>
                        <td>${ obj.lock_level }</td>
  						<td>
  							${moment(obj.createdDate).format('YYYY-MM-DD HH:mm:ss')}
  						</td>
  						<td>${ obj.views }</td>
       				</tr>
       			`;
       		});

			document.getElementById('list').innerHTML = html;
			drawPages(response.params);
		});
	}
	
	/**
	 * 페이지 HTML 렌더링
	 */
	 function drawPages(params) {

 		if (!params) {
 			document.querySelector('.pagination').innerHTML = '';
 			return false;
 		}

 		let html = '';
 		const pagination = params.pagination;

 		// 첫 페이지, 이전 페이지
 		if (pagination.existPrevPage) {
 			html += `
 				<li class="page-item">
 					<a class="page-link" href="javascript:void(0)" onclick="findAll(1);" aria-label="Previous">
 						<span aria-hidden="true">&laquo;</span>
 					</a>
 				</li>
 				<li class="page-item">
 					<a class="page-link" href="javascript:void(0)" onclick="findAll(${pagination.startPage - 1});" aria-label="Previous">
 						<span aria-hidden="true">&lsaquo;</span>
 					</a>
 				</li>
 			`;
 		}

 		// 페이지 번호
 		for (let i = pagination.startPage; i <= pagination.endPage; i++) {
 			const active = (i === params.page) ? 'active' : '';
            html += `<li class="page-item ${active}">
            			<a class="page-link" href="javascript:void(0)" onclick="findAll(${i})">${i}</a>
            		</li>`;
 		}

 		// 다음 페이지, 마지막 페이지
 		if (pagination.existNextPage) {
 			html += `
 				<li class="page-item">
 					<a class="page-link" href="javascript:void(0)" onclick="findAll(${pagination.endPage + 1});" aria-label="Next"><span aria-hidden="true">&rsaquo;</span>
 					</a>
 				</li>
 				<li class="page-item">
 					<a class="page-link" href="javascript:void(0)" onclick="findAll(${pagination.totalPageCount});" aria-label="Next"><span aria-hidden="true">&raquo;</span>
 					</a>
 				</li>
 			`;
 		}

 		document.querySelector('.pagination').innerHTML = html;
 	}  	
    	
    	
	 /*]]>*/
	</script>
	</th:block>
</html>