<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout_project}">

<th:block layout:fragment="content">
	<!-- 글 내용 보기 페이지 -->
<div class="card">

  <h5 class="card-header" id="title"></h5>
  
  <div class="card-body">
    <p class="card-subtitle mb-2 text-muted" id="writer"></p>
    <h4 class="card-title" id="content"></h4>
    
    <div class="hstack gap-3">
	    <div class="card-text" id="lock_level"></div>
	    조회수: <div class="card-text" id="views"></div>
	    작성시간: <div class="card-text bg-light border" id="createdDate"></div>
        <div>
            <span th:unless="${usernmae}==접속자user정보">빈 하트<button type="button" class="btn btn-outline-secondary">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"></path>
</svg>
                  <span class="visually-hidden">Button</span>
                </button></span>
            <span th:if="${username}==접속자user정보">채운 하트<button type="button" class="btn btn-secondary">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"></path>
</svg>
              </button></span>
        </div>
        <div id="heart"></div>
	</div>
    
    <a onclick="goList()" class="btn btn-secondary">뒤로가기</a>
    <a onclick="goWrite()" class="btn btn-primary">수정하기</a>
    <a onClick="deleteBoard()" class="btn btn-danger">삭제하기</a>
  </div>
    <a onclick="goComment()" class="btn btn-info">댓글</a>
</div>

</th:block>

<th:block layout:fragment="scripts">
<!-- js 부분 -->
<script th:inline="javascript">
    /*<![CDATA[*/
    /**
	 * 페이지 로딩 시점에 실행되는 함수
	 */
	window.onload = () => {
		findBoard();
	}
	
	/**
     * 게시글 조회
     */
    function findBoard() {

        const id = /*[[ ${id} ]]*/;

        fetch(`/api/board/${id}`).then(response => {
        	if (!response.ok) {
    			throw new Error('Request failed...');
    	    }
        	return response.json();

       	}).then(json => {
       		console.table(json);
        	json.createdDate = moment(json.createdDate).format('YYYY-MM-DD HH:mm:ss');

        	Object.keys(json).forEach(key => {
         		const elem = document.getElementById(key);
         		if (elem) {
          			elem.innerText = json[key];
         		}
        	});

       	}).catch(error => {
        	alert('게시글 정보를 찾을 수 없습니다.');
        	goList();
       	});
    }

    /**
     * 뒤로가기
     */
    function goList() {
    	location.href = '/project/list';
    }

    /**
     * 수정하기
     */
    function goWrite() {
    	location.href = `/project/write?id=[[ ${id} ]]`;
    }

    /**
     * 삭제하기
     */
    function deleteBoard() {

    	const id = /*[[ ${id} ]]*/;

        if ( !confirm(`${id}번 게시글을 삭제할까요?`) ) {
        	return false;
        }

        fetch(`/api/board/${id}`, {
        	method: 'DELETE',
          	headers: { 'Content-Type': 'application/json' },

        }).then(response => {
        	if (!response.ok) {
           		throw new Error('Request failed...');
          	}

          	alert('삭제되었습니다.');
          	goList();

        }).catch(error => {
        	alert('오류가 발생하였습니다.');
        });
	}

    /**
     * 댓글로 가기
     */
    function goComment() {
        const board_id = /*[[ ${id} ]]*/;
    	location.href = `/project/${board_id}/comment`;
    }
	
     /*]]>*/
</script>
</th:block>

</html>