<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout_project}"
>
  <th:block layout:fragment="content">
    <!-- 글 내용 보기 페이지 -->
    <div class="card">
      <h5 class="card-header" id="title"></h5>

      <div class="card-body">
        <p class="card-subtitle mb-2 text-muted" id="writer"></p>
        <h4 class="card-title" id="content"></h4>

        <div class="hstack gap-5">
          <div class="card-text" id="lock_level"></div>
          조회수:
          <div class="card-text" id="views"></div>
          작성시간:
          <div class="card-text bg-light border" id="createdDate"></div>
        </div>

        <a onclick="goList()" class="btn btn-secondary">뒤로가기</a>
        <a onclick="goWrite()" class="btn btn-primary">수정하기</a>
        <a onClick="deleteBoard()" class="btn btn-danger">삭제하기</a>
        <a onclick="goComment()" class="btn btn-info">댓글</a>
        <a style="width:8%;" onclick="pushHeart('POST')" id="voidHeart" href="javascript:void(0)" class="btn btn-outline-secondary">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-suit-heart" viewBox="0 0 16 16">
            <path d="m8 6.236-.894-1.789c-.222-.443-.607-1.08-1.152-1.595C5.418 2.345 4.776 2 4 2 2.324 2 1 3.326 1 4.92c0 1.211.554 2.066 1.868 3.37.337.334.721.695 1.146 1.093C5.122 10.423 6.5 11.717 8 13.447c1.5-1.73 2.878-3.024 3.986-4.064.425-.398.81-.76 1.146-1.093C14.446 6.986 15 6.131 15 4.92 15 3.326 13.676 2 12 2c-.777 0-1.418.345-1.954.852-.545.515-.93 1.152-1.152 1.595L8 6.236zm.392 8.292a.513.513 0 0 1-.784 0c-1.601-1.902-3.05-3.262-4.243-4.381C1.3 8.208 0 6.989 0 4.92 0 2.755 1.79 1 4 1c1.6 0 2.719 1.05 3.404 2.008.26.365.458.716.596.992a7.55 7.55 0 0 1 .596-.992C9.281 2.049 10.4 1 12 1c2.21 0 4 1.755 4 3.92 0 2.069-1.3 3.288-3.365 5.227-1.193 1.12-2.642 2.48-4.243 4.38z"/>
          </svg>
        </a>
        <a style="width:8%;" id="fullHeart" onclick="deleteHeart()" href="javascript:void(0)" class="btn btn-outline-secondary">
          <svg color="red"xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-suit-heart-fill" viewBox="0 0 16 16">
            <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"/>
          </svg>
        </a>
        <span id="cnt"></span>

      </div>

    </div>
  </th:block>

  <th:block layout:fragment="scripts">
    <!-- js 부분 -->
    <script th:inline="javascript">
         /*<![CDATA[*/
         /**
       * 페이지 로딩 시점에 실행되는 함수
       */
      window.onload = () => {
      	findBoard();
      	getHeart();
      	console.log('하트 조회');
      }

      /* 하트 조작
      */
      function getHeart(){
          const board_id = /*[[ ${id} ]]*/;
          fetch(`/api/heart/${board_id}`).then(response=>{
             	if (!response.ok) {
         			throw new Error('Request failed...');
         	    }
             	return response.json();}
             	).then(json=>{
                     console.table(json);
                     if(json.full) heartFull(json.total);
                     else heartVoid(json.total);
             	}).catch(error => {
             	alert('좋아요 조회 오류가 발생하였습니다.');
             });
      }

      function pushHeart(method){
      console.log(method);
          const board_id = /*[[ ${id} ]]*/;
          fetch(`/api/heart/${board_id}`, {
              method: method,
                 headers: { "Content-Type": "application/json" },
                 body: null,
          }).then(response=>{
              if (!response.ok) {
         			throw new Error('Request failed...');
         	    }
             	return response.json();}
          ).then(json =>{
              console.table(json);
                 if(json.full) heartFull(json.total);
                 else heartVoid(json.total);
          }).catch(error => {
             	alert('좋아요 푸쉬 오류가 발생하였습니다.');
             });
      }

      function deleteHeart(){
      console.log('DELETE');
          const board_id = /*[[ ${id} ]]*/;
          fetch(`/api/heart/${board_id}`, {
              method: 'DELETE',
                 headers: { "Content-Type": "application/json" },
          }).then(response=>{
              if (!response.ok) {
         			throw new Error('Request failed...');
         	    }
             	alert('좋아요 취소 되었습니다.');
             	}
          ).catch(error => {
             	alert('좋아요 취소 오류가 발생하였습니다.');
             });
             getHeart();
      }

      function heartFull(cnt){
          voidHeart = document.getElementById("voidHeart");
          fullHeart = document.getElementById("fullHeart");
             voidHeart.style.display="none";
             fullHeart.style.display="block";
             document.getElementById("cnt").innerHTML = cnt;
             console.log('하트 채우기');
             console.log(cnt);
      }
      function heartVoid(cnt){
          voidHeart = document.getElementById("voidHeart");
          fullHeart = document.getElementById("fullHeart");
             voidHeart.style.display="block";
             fullHeart.style.display="none";
             document.getElementById("cnt").innerHTML = cnt;
             console.log('하트 비우기');
             console.log(cnt);

      }

//게시글 조회
         function findBoard() {

             const id = /*[[ ${id} ]]*/;

             fetch(`/api/board/${id}`).then(response => {
             	if (!response.ok) {
         			throw new Error('Request failed...');
         	    }
             	return response.json();

            	}).then(json => {
            		console.table(json);
             	json.createdDate = moment(json.createdDate).format('YYYY-MM-DD HH:mm:ss');

             	Object.keys(json).forEach(key => {
              		const elem = document.getElementById(key);
              		if (elem) {
               			elem.innerText = json[key];
              		}
             	});

            	}).catch(error => {
             	alert('게시글 정보를 찾을 수 없습니다.');
             	goList();
            	});
         }

         /**
          * 뒤로가기
          */
         function goList() {
         	location.href = '/project/list';
         }

         /**
          * 수정하기
          */
         function goWrite() {
         	location.href = `/project/write?id=[[ ${id} ]]`;
         }

         /**
          * 삭제하기
          */
         function deleteBoard() {

         	const id = /*[[ ${id} ]]*/;

             if ( !confirm(`${id}번 게시글을 삭제할까요?`) ) {
             	return false;
             }

             fetch(`/api/board/${id}`, {
             	method: 'DELETE',
               	headers: { 'Content-Type': 'application/json' },

             }).then(response => {
             	if (!response.ok) {
                		throw new Error('Request failed...');
               	}

               	alert('삭제되었습니다.');
               	goList();

             }).catch(error => {
             	alert('오류가 발생하였습니다.');
             });
      }

         /**
          * 댓글로 가기
          */
         function goComment() {
             const board_id = /*[[ ${id} ]]*/;
         	location.href = `/project/${board_id}/comment`;
         }

          /*]]>*/
    </script>
  </th:block>
</html>
