<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout_project}">

<th:block layout:fragment="content">
    <!-- 글 작성 수정 페이지 -->
 <div class="card-content">
		<form id="form" class="form-horizontal">
			<div class="form-group">
				<label for="title" class="col-sm-2 control-label">제목</label>
				<div class="col-sm-10">
					<input type="text" id="title" class="form-control" placeholder="제목을 입력해 주세요." />
				</div>
			</div>

			<div class="form-group">
				<label for="writer" class="col-sm-2 control-label">이름</label>
				<div class="col-sm-10">
					<input type="text" id="writer" class="form-control" placeholder="이름을 입력해 주세요." />
				</div>
			</div>

			<div class="form-group">
				<label for="content" class="col-sm-2 control-label">내용</label>
				<div class="col-sm-10">
					<textarea id="content" class="form-control" placeholder="내용을 입력해 주세요."></textarea>
				</div>
			</div>
			
			<div class="form-group">
				<label for="lock_level" class="col-sm-2 control-label">공개범위</label>
				<div class="col-sm-2">
					<select id="lock_level" class="form-control">
						<option value="ALL">전체</option>
						<option value="FRIENDS">친구</option>
						<option value="ME">비공개</option>
					</select>
				</div>
			</div>

			<div class="btn_wrap text-center">
				<a th:href="@{/project/home}" class="btn btn-default waves-effect waves-light">뒤로가기</a>
				<button type="button" onclick="save();" class="btn btn-primary waves-effect waves-light">저장하기</button>
			</div>
		</form>
	</div>
</th:block>

<th:block layout:fragment="scripts">
<!-- js 부분 -->
<script th:inline="javascript">
    /*<![CDATA[*/

	window.onload = () => {
        findBoard();
    }

	/**
	 * 게시글 조회
	 */
	function findBoard() {
		
		const id = /*[[ ${id} ]]*/;

	    if ( !id ) {
	    	return false;
	    }

	    fetch(`/api/board/${id}`).then(response => {
	    	if (!response.ok) {
				throw new Error('Request failed...');
		    }
	    	return response.json();

	   	}).then(json => {
	   		const form = document.getElementById('form');
	   		form.title.value = json.title;
	   		form.content.value = json.content;
	   		form.writer.value = json.writer;
	   		form.lock_level.value = json.lock_level;

	   	}).catch(error => {
	    	alert('게시글 정보를 찾을 수 없습니다.');
	    	location.href = '/project/home';
	   	});
	}

	/**
     * 유효성 검사
     */
    function isValid() {

      	const form = document.getElementById('form');

    	if (!form.title.value.trim()) {
    		alert('제목을 입력해 주세요.');
    		form.title.value = '';
    		form.title.focus();
    		return false;
    	}

    	if (!form.writer.value.trim()) {
    		alert('작성자를 입력해 주세요.');
    		form.writer.value = '';
    		form.writer.focus();
    		return false;
    	}

    	if (!form.content.value.trim()) {
    		alert('내용을 입력해 주세요.');
    		form.content.value = '';
    		form.content.focus();
    		return false;
    	}

    	return true;
    }

    /**
     * 게시글 등록(생성/수정)
     */
    function save() {

    	if ( !isValid() ) {
    		return false;
    	}

    	const form = document.getElementById('form');
    	const params = {
    		title: form.title.value,
    		writer: form.writer.value,
    		content: form.content.value,
    		lock_level: form.lock_level.value
    	};

    	const id = /*[[ ${id} ]]*/;
    	const uri = ( id ) ? `/api/board/${id}` : '/api/board';
    	const method = ( id ) ? 'PATCH' : 'POST';

    	fetch(uri, {
    		method: method,
    		headers: { 'Content-Type': 'application/json' },
    		body: JSON.stringify(params)

    	}).then(response => {
    		if (!response.ok) {
    			throw new Error('Request failed...');
    		}

    		alert('저장되었습니다.');
    		location.href = '/project/home';

    	}).catch(error => {
    		alert('오류가 발생하였습니다.');
    	});
    }

	/*]]>*/
</script>
</th:block>
    
    
</html>