<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout_project}">

<th:block layout:fragment="content">
	<body class="text-center">
	    
	<main class="form-signin">
	    <h1 class="h3 mb-3 fw-normal">Please login</h1>

	<form th:action="@{/login}" method="POST">
	    <div class="form-floating">
		  <input type="text" class="form-control" id="username" name="username" placeholder="username">
		  <label for="floatingPassword">username</label>
	    </div>
	    <div class="form-floating">
	      <input type="password" class="form-control" id="password" name="password" placeholder="Password">
	      <label for="floatingPassword">Password</label>
	    </div>

	    <button class="w-100 btn btn-lg btn-primary" type="submit">Log in</button>
		  <a href="/oauth2/authorization/google" class="w-100 btn btn-outline-secondary"><img src="images/google.png">구글로 로그인 하기</a>
		  <a href="/oauth2/authorization/kakao" class="w-100 btn btn-outline-secondary"><img src="images/kakao-talk.png">카카오로 로그인 하기</a>
		  <a href="/joinForm" class="w-100 btn btn-lg btn-primary">아직 가입 안하셨나요?</a>
	    <p class="mt-5 mb-3 text-muted">© 2022</p>
	</form>

	</main>
	</body>
</th:block>